<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Admin Login</title>
</head>
<body>
    <div class="container">
        <h2>Admin Login</h2>
        <form method="POST" action="{{ url_for('login_admin') }}">
            <input type="email" name="email" placeholder="Admin Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register_admin') }}">Register</a></p>
    </div>
</body>
</html>
